.container {
    width: 900px;
    margin: 0 auto;
  }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 200px;
    margin: 0 auto;
  }
}

#sidebar {
  background-color: #384047;
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fas {
  font-size: 2em;
  color: #38897F;
}

#page-content {
  margin-left: 100px;
}

body {
    background: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgba(50, 50, 50, 1);
}

.fab {
  padding: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(0, 0, 0, 0.2);
}

.card-white {
  background: white;                          /* White background */
  padding: 40px;
  margin: 20px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);       /* OR subtle border */
}
